<form>
    <p> 
        <label for="Ini-Inv">Initial Investment</label>
        <input type="number" class="Ini-Inv" id="Ini-Inv"/>
    </p>
    <p>
        <label for="Ann-Inv">Annual Investment</label>
        <input type="number" class="Ann-Inv" id="Ann-Inv"/>
    </p>
    <p>
        <label for="Return">Expected Return</label>
        <input type="number" class="Return" id="Return"/>
    </p>
    <p>
        <label for="Duration">Duration</label>
        <input type="number" class="Duration" id="Duration"/>
    </p>

    <p>
        <button>Calculate</button>
    </p>
</form>

