<form (ngSubmit)="OnSubmit()">
    <div class="input-group">
        <app-control label= "Initial Investment" name = "Initial Investment" [(userInputModel)] = "enteredIniInvestment" /> 
        <app-control label= "Annual Investment" name = "Annual Investment" [(userInputModel)]= "enteredAnnInvestment"/>
    </div>
    <div class="input-group">
        <app-control label=" Expected Return" name= "Expected Return" [(userInputModel)]= "enteredExpReturn"/>
        <app-control label="Duration (Year)" name= "Duration" [(userInputModel)] = "enteredDuration"/>
    </div>  
    <p>
        <button (click)=" OnSubmit()" [disabled] = "!enteredIniInvestment || !enteredAnnInvestment || !enteredExpReturn || !enteredDuration">Calculate</button>
    </p>
</form>

